@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Yellowtail&display=swap");

main {
  min-height: 75vh;
}
h3 {
  padding: 1rem;
}
h1 {
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}
.carousel {
  border: 0.5vmin solid;

  border-image: linear-gradient(to left, #70e1f5, #ffd194);
  border-image-slice: 1;
}

.carousel-caption {
  right: 13%;
  top: 2%;
  text-align: right;

  max-width: 20rem;
  left: auto;
  padding: 10px;
}
.carousel-caption h2,
h3 {
  color: #110e0d;
}

.hotpicks {
  font-family: "Yellowtail", cursive;
  text-size-adjust: 43px;
  text-decoration: underline;
}

.pageChange {
  color: #e3cd81ff;
}
.carousel img {
  height: 300px;
  padding: 0px;
  margin: 10px;
  margin-left: 10rem;
}
.carousel img {
  height: 300px;
  padding: 0px;
  margin: 10px;
  margin-left: 10rem;
}
.carousel a {
  margin: 0 auto;
}

.menu-bar {
  height: 20vh;
  background: linear-gradient(to right, #70e1f5, #ffd194);
}
.brand {
  font-family: "Yellowtail", cursive;
  color: #f58470;
}

.brand h3 {
  font-size: 3rem;
  color: #110e0d;
}

.brand h3:hover {
  color: #70e1f5;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 120px #0fa;
}
.searchBox:hover {
  color: #70e1f5;
  border: transparent;
  background: transparent;
  text-shadow: -0.1px 0 white, 0 0.1px white, 0.1px 0 white, 0 -1px white;

  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 120px #0fa;
  border-radius: 5%;
}
.nav-link:hover {
  color: #70e1f5 !important;

  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2394c2ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2394c2ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.searchBox {
  border: #110e0d 1px solid;
  background: transparent;
  color: #110e0d;
}
.primaryBtn {
  color: #ffd194;
}
.primaryBtn:hover {
  color: #70e1f5;
  background: transparent;
}
.primary {
  background: #70e1f5;
}
.userDlt {
  background: transparent;
  color: #f1650e;
}
.userEdt {
  background: transparent;
  color: #ffd194;
}

.form-control:focus {
  border: none;
  border-color: #94c2ff !important;
  outline-color: #94c2ff !important ;

  color: #94c2ff !important;
}

.nav-link {
  font-family: "Cabin", sans-serif !important;
  color: #110e0d !important;
}
/*.nav-link:hover {
  color: #70e1f5 !important;
} */

body {
  font-family: "Open Sans", sans-serif;
}
.productCard {
  border-color: #ffd194;
  height: 28rem;
  width: 28rem;
}
.productImg {
  border: soli 2 px black !important;
}
.line {
  border: 0.5vmin solid;

  border-image: linear-gradient(to left, #70e1f5, #ffd194);
  border-image-slice: 1;
}
.alert-custom {
  background-color: #6089d5 !important;
  color: #ffd194;
}
.carousel-item {
  transition: transform 2.6s ease-in-out;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  margin-top: 2px;
  border: 1px solid #ccc;
  display: inline-block;
  background: #000;
  padding: 5px 12px;
  cursor: pointer;
  color: #6089d5;
}

.custom-file-upload:hover {
  margin-top: 2px;
  border: none;
  display: inline-block;
  background: transparent;
  padding: 5px 12px;
  cursor: pointer;
  color: #ffd194;
}
@media only screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
  .productCard {
    border-color: #ffd194;
    height: 20rem;
    width: 18rem;
  }
  .productCard img {
    height: 10rem;
  }
  #responsive-navbar-nav {
    padding-right: 100;
    border-radius: 2px;
    margin-top: -1.5rem;
    background: linear-gradient(to right, #70e1f5, #ffd194);
  }
}
